NODE_ENV=development

PORT=3000

# Supabase transaction-mode pooler (used by app runtime)
DATABASE_URL="postgresql://postgres.srsdokudktghyirsoqst:[YOUR_PASSWORD]@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Supabase session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.srsdokudktghyirsoqst:[YOUR_PASSWORD]@aws-1-us-west-2.pooler.supabase.com:5432/postgres"

JWT_SECRET=YOUR_JWT_SECRET

JWT_EXPIRES_IN=15m

JWT_REFRESH_SECRET=YOUR_JWT_REFRESH_SECRET

JWT_REFRESH_EXPIRES_IN=7d